<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base target="_parent" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Suggested Articles</title>
  <link href="/lib/bootstrap.min.css" rel="stylesheet">
  <link rel="icon" href="../static/favicon.ico">
</head>

<body>
  <div class="text-black m-5">
    <h2 class="display-6 text-center">Selected Articles</h2>

    <div class="d-flex flex-column flex-md-row justify-content-evenly">
      <div class="p-3">
        <a href="/posts/blog/client-redirect.html?ref=home#Article1" class="text-black text-decoration-none">
          <h5>How to Create a Lightweight Webpage Redirect Using Only HTML</h5>
          <h6>Published: 09/10/2022</h6>
        </a>
      </div>

      <div class="p-3">
        <a href="/posts/blog/dns-over-https.html?ref=home#Article2" class="text-black text-decoration-none">
          <h5>How to Configure Cloudflare's 1.1.1.1 DNS over HTTPS on PiHole</h5>
          <h6>Published: 25/07/2022</h6>
        </a>
      </div>

      <div class="p-3">
        <a href="/posts/blog/Mb-vs-MB.html?ref=home#Article3" class="text-black text-decoration-none">
          <h5>Why is my Download Speed so Much Slower than Speed Tests</h5>
          <h6>Published: 04/08/2022</h6>
        </a>
      </div>
      </div>
    </div>
</body>
</html>
