<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Boat-Art</title>
        <link href="/lib/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="./style/dist/style.css" />
    </head>

    <body>
        <div class="content-container bg-dark">
            <h1 class="display-4 text-center pt-4 text-white-50">Boat-Art</h1>

            <div class="d-flex justify-content-center mt-5">
                <div class="card">
                    <img
                        class="card-img-top p-3"
                        src="./static/boats-pattern.png"
                        alt="Card image"
                        style="width: 100%"
                    />
                    <div class="card-body">
                        <h4 class="card-title">VOYAGE</h4>
                        <p class="card-text">A simple boat pattern</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Redbubble</a>
                        <a href="#" class="btn btn-outline-primary">Pintrest</a>
                        <a href="#" class="btn btn-outline-primary">Share</a>
                    </div>
                </div>

                <div class="card">
                    <img
                        class="card-img-top p-3"
                        src="./static/people-pattern.png"
                        alt="Card image"
                        style="width: 100%"
                    />
                    <div class="card-body">
                        <h4 class="card-title">VOYAGE</h4>
                        <p class="card-text">A simple boat pattern</p>
                    </div>
                    <div class="card-footer">
                        <a href="#" class="btn btn-primary">Redbubble</a>
                        <a href="#" class="btn btn-outline-primary">Pintrest</a>
                        <a href="#" class="btn btn-outline-primary">Share</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
