---
import SocialsContainer from "../socialsContainer/SocialsContainer.astro";
import SuggestedArticles from "../suggestedArticles/SuggestedArticles.astro";
---

<div>
  <SocialsContainer />

  <hr />

  <SuggestedArticles />
</div>
