<div class="socials-container">
  <br />
  <i>Share via:</i>
  <a
    href="#"
    onclick="window.location.href = `http://twitter.com/share?text=Check out this new post from Grathium Industries!&url=${window.location.href}`;"
    class="social-links fa-brands fa fa-twitter-square"></a>
  <a
    href="#"
    onclick="window.location.href = `https://www.reddit.com/submit?url=${window.location.href}&title=Check out this new post from Grathium Industries!`;"
    class="social-links fa-brands fa fa-reddit-square"></a>
  <a
    href="#"
    onclick="window.location.href = `http://pinterest.com/pin/create/button/?url=${window.location.href}&description=Check out this new post from Grathium Industries!`;"
    class="social-links fa-brands fa fa-pinterest-square"></a>
</div>
