---
import { Icon } from "astro-icon/components";

const currentPath = `https://grathium-industries.github.io${Astro.url.pathname}`;

import "./SocialsContainer.css";
---

<div class="socials-container">
  <span>Share via:</span>

  <a
    href={"http://x.com/share?text=Check out this new post from Grathium Industries!&url=" + currentPath}
    target="_blank"
  >
    <Icon name="ion:logo-x" />
  </a>

  <a
    href={"https://www.reddit.com/submit?title=Check out this new post from Grathium Industries!&url=" + currentPath}
    target="_blank"
  >
    <Icon name="ion:logo-reddit" />
  </a>

  <a
    href={"http://pinterest.com/pin/create/button/?description=Check out this new post from Grathium Industries!&url=" + currentPath}
    target="_blank"
  >
    <Icon name="ion:logo-pinterest" />
  </a>
</div>
