html {
  background-color: black;
  overflow-x: hidden;
}

* {
  left: 0px;
}

.large-header {
  position: relative;
  width: 100%;
  background: #111;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.demo .large-header {
  position: initial;
  z-index: -1;
  top: 0px;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 35%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  text-shadow: 2px 1px black;
  transition: 0.7s;
  /* disable selecting text */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.main-title:hover {
  opacity: 0.20;
  filter: alpha(opacity=20);
}

#title {
  text-transform: uppercase;
  font-size: 2.4em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
    font-size: 3em;
  }

  h1 {
    font-size: 0.3em !important;
  }

  a {
    font-size: 1.5em !important;
  }
}

#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* LINKS */
.link-container {
  position: absolute;
  text-align: center;
  top: calc( 35% + 120px );
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
}

.link-container > button {
  color: #eee;
  font-size: 1.8em;
  text-decoration: none;
  padding: 10px;
  margin-left: 10px !important;
}

.link-container > button:hover{
  color: #fff;
  font-size: 2em;
}

/* BELLOW WEBSITE */
.websiteScroll {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: white;
  color: #abb2bf;
  margin: 0;
  padding: 0;
}

div iframe {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-style: none;
  margin: 0px;
  padding: 0;
  z-index: 0;
}

/* imported from normalize.css */
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

#back2Top {
  width: 40px;
  line-height: 40px;
  overflow: hidden;
  z-index: 999;
  display: none;
  cursor: pointer;
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  position: fixed;
  bottom: 50px;
  right: 0;
  background-color: #DDD;
  color: #555;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}
#back2Top:hover {
  background-color: #DDF;
  color: #000;
}
