---
import "./BlogHeader.css"
---

<header class="blog-header">
  <a href="/" class="button">Home</a>
  <a href="/posts/" class="button">Articles</a>
  <a href="https://github.com/hudson-newey" class="button">GitHub</a>
</header>
