---
import { Icon } from "astro-icon/components";

import "./BlogHeader.css"
---

<header class="blog-header">
  <a href="/posts">
    <Icon name="ion:return-down-back" />
    All Posts
  </a>

  <a href="https://github.com/hudson-newey">
    <Icon name="ion:logo-github" />
    GitHub
  </a>

  <a href="/">
    <Icon name="ion:home" />
    Home
  </a>
</header>
