.blog-header {
  display: block;
  padding: 0.8rem;

  color: var(--text-color-light);

  font-family: "Inter", sans-serif;
  letter-spacing: 2px;

  & > a {
    /* Use a flexbox so that the icons and text are vertically aligned */
    display: flex inline;
    gap: 0.5rem;
    align-items: center;

    padding-right: 1rem;
    padding-left: 1rem;

    text-decoration: none;

    &:not(:first-of-type) {
      border-left: 1px solid var(--text-color-light);
    }

    &:hover {
        color: var(--text-color);
        text-decoration: underline;
    }
  }
}
