---
import BlogArticle from "../../../layouts/BlogArticle.astro";

const title =
    "Search Engine Keeps Reverting to Bing and not Using Browser set Search Engine";
---

<BlogArticle title={title}>
  <strong class="pub-time">06/11/2022</strong>

  <div>
    <h2>Description & Problem</h2>
    <p>
      Over the years, one of the most prevalent and undocumented web browser anomalies I have come across is where a users search engine is force set to <a href="https://www.bing.com/">Bing</a> or <a href="https://yahoo.com/">Yahoo</a>, instead of using their browsers choice of search engine (most usually Google search). The user will typically correctly conclude that this is a virus or something malicious, but their anti virus software will not detect anything.<br>
      This is because this type of issue is typically the result of a bad, compromised, or malicious extension. This arises from a legitimate use case in changing the search engine through browser extensions, this functionality is a legitimate use case used in browser extensions such as the DuckDuckgo, <a href="https://ecosia.org/">Ecosia</a> (which is a search engine I highly recommend) & Search for a Cause browser extensions. But if you do not have one of the listed above extensions installed, it is most likely the result of a bad extension.<br>
      Bad extensions exist because bad actors can monetize Bing search relatively easily through the use of affiliate links and affiliate marketing. Since the purpose of these extensions is for monetary value, it stands to reason that if you see these types of artifacts being present, it may be collecting other personal information such as bank login details.
    </p>
  </div>

  <hr>

  <div>
    <h2>How to Fix</h2>
    <p>
      <ol>
        <li>Run an <u>full</u> Anti Virus scan on your laptop. I recommend <a href="https://www.malwarebytes.com/">Malwarebytes</a></li>
        <li>Remove all extensions by navigating to <a href="chrome://extensions">chrome://extensions</a> (Chrome) or <a href="about:addons">about:addons</a> (Firefox) </li>
        <li>Reinstall extensions one by one from the Chrome store, periodically testing the search engine after each install</li>
        <li>Remove any extensions you may have installed in the past month. (Sometimes these viruses have dormant periods to prevent detection)</li>
        <li>Uninstall and reinstall Chrome/Firefox</li>
      </ol>

      <div class="note">
        Note: that the bellow steps are a generalized heuristic and do not need to be performed in order.
      </div>
    </p>
  </div>
</BlogArticle>
