---
import BlogArticle from "../../../layouts/BlogArticle.astro";

const title = "The IT Crowd - Bluff Ball (Season 3 Ep 02)";
---

<BlogArticle title={title}>
	<strong class="pub-time">10/11/2022</strong>

	<div>
		<h2>Description</h2>
		<p>
			<a href="https://theitcrowd.fandom.com/wiki/BluffBall.co.uk">Bluff Ball</a> from The IT Crowd is a satirical and hypothetical football first seen in The IT Crowd Season 3 Ep 02 of The IT Crowd (Are We Not Men). In this episode the two main characters Moss and Roy find a new website that lets them be “real men” by talking about football. The running joke of the episode is that all the football phrases presented are very generic and can be applied to almost any English football situation. <br> Throughout the episode, unpronounced to them, Moss and Roy somehow end up in elaborate heist with criminals. The pen ultimate pinnacle of the episode is when Roy is forced to drive into a truck in an attempt to hide the criminals, but then starts uncontrollably weeping.
		</p>
	</div>

  <div>
    <h2>Watch The IT Crowd Season 3 Ep 02 on Netflix</h2>
    <p>
      <a href="https://www.netflix.com/watch/70124257">https://www.netflix.com/watch/70124257</a>
    </p>
  </div>

	<div>
		<h2>Real Life Bluff Ball Websites</h2>
		<p>
      <a href="https://grathium-industries.github.io/posts/deployments/bluff-ball/?ref=blog">grathium-industries.github.io/posts/deployments/bluff-ball/</a><br>
      <a href="https://bluffball.co.uk/">bluffball.co.uk</a>
		</p>
	</div>
</BlogArticle>
