---
import SuggestedArticles from "../../../components/SuggestedArticles.astro"
---

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="description" content="Windows: command not found">
	<meta name="keywords" content="command, cmd, windows, batch, command prompt, terminal">
	<meta name="author" content="Grathium Industries">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Windows: command is not recognized as an internal or external command, operable program or batch file</title>
	<link rel="icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="/blog/dist/style.css">
	<link rel="stylesheet" href="/static/css/dist/global.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<script is:inline async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1219405924277504"
		crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<a href="/" class="button">Home</a>
		<a href="/posts/" class="button">Articles</a>
		<a href="https://github.com/hudson-newey" class="button">GitHub</a>
	</header>

	<h1>Windows: command not found</h1>
	<strong class="pub-time">02/08/2022</strong>

	<div>
		<h2>Fixes Errors</h2>
		<code>command is not recognized as an internal or external command, operable program or batch file<br></code>

		<h2>Description</h2>
		<p>
			This <code>stderr</code> standard error stream is a common Windows command line issue experienced among new
			programers, and we are all to common with it. But what does it actually mean?<br>
			<br>
			The text "command is not recognized as an internal or external command" refers to executables or <code>.exe</code>
			files. This is stating that there is no <code>.exe</code> file with that name in the current directory, or in your
			<code>%PATH%</code> directories. A <code>%PATH%</code> directory is where command prompt looks for executables or
			<code>.exe</code> files when you type in a command. The most well known <code>%PATH%</code> directory is the
			<code>C:\Windows\System32</code> directory where programs such as <code>echo</code> and <code>shutdown</code> are
			located. Therefore, if you type in <code>echo "Hello World!"</code>, you are actually calling the
			<code>echo</code> program from within <code>C:\Windows\System32</code> with the <a
				href="https://en.wikipedia.org/wiki/Command-line_argument_parsing">command line argument</a> of
			<code>"Hello World!"</code>. Hence why if you delete this directory everything stops working.) <br>
			<br>
			The text "or batch file" inherits all the same ideas as the executables, but also contains the idea that you can
			run batch files (<code>.bat</code> and <code>.cmd</code>) files without specifying the <code>.bat</code> extension
			to the file path. <br>
			e.g. <code>helloWorld.bat</code> can be called by <code>helloWorld</code>
		</p>

		<hr>

		<h2>Fix</h2>
		<div>
			<b>If you are copying code from the internet</b>
			<p>
			<ol>
				<li>Check that you are running commands for windows command prompt, cmd, dos, or batch</li>
				<li>If there is a <code>$</code> at the start of the command, remove it and any leading spaces until the first
					alphanumeric character (as the <code>$</code> character represents that you should run the following from the
					command line / terminal)</li>
			</ol>
			</p>

			<br>
			<b>General Fixes</b>
			<p>
			<ol>
				<li>Check that you have any programs you need installed</li>
				<li>Make sure your operating system is up-to date</li>
				<li>If you need to use a batch script <code>.bat</code> download the script first</li>
				<li>Make sure you are in the right directory path</li>
				<li>Make sure that your <code>%PATH%</code> environment variables contain the path to the executable </li>
			</ol>
			</p>
		</div>

		<p>If all else fails, you may need to try a different solution.</p>
	</div>

	<div class="socials-container"><br>
    <i>Share via: </i>
    <a href="#" onclick="window.location.href = `http://twitter.com/share?text=Check out this new post from Grathium Industries!&url=${window.location.href}`;" class="social-links fa-brands fa fa-twitter-square"></a>
    <a href="#" onclick="window.location.href = `https://www.reddit.com/submit?url=${window.location.href}&title=Check out this new post from Grathium Industries!`;" class="social-links fa-brands fa fa-reddit-square"></a>
    <a href="#" onclick="window.location.href = `http://pinterest.com/pin/create/button/?url=${window.location.href}&description=Check out this new post from Grathium Industries!`;" class="social-links fa-brands fa fa-pinterest-square"></a>
  </div>
	<hr>

	<div class="disquis-comments">
		<script is:inline id="dsq-count-scr" src="//grathium-industries.disqus.com/count.js" async></script>
		<div id="cmd"></div>
		<script is:inline>
			var disqus_config = function () {
				this.page.url = "https://grathium-industries.github.io/posts/blog/cmd";  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = "client_redirect"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			(function () { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = 'https://grathium-industries-1.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
				Disqus.</a></noscript>
	</div>

	<div class="content-footer">
		<SuggestedArticles />
	</div>
</body>

<footer>
	<div id="cookie-consent" class="cookie-consent-banner">
		<div class="cookie-consent-banner__inner">
			<div class="cookie-consent-banner__copy">
				<div class="cookie-consent-banner__header">THIS WEBSITE USES COOKIES</div>
				<div class="cookie-consent-banner__description">We use cookies to personalise content and ads, to provide social
					media features and to analyse our traffic. We also share information about your use of our site with our
					social media, advertising and analytics partners who may combine it with other information that you’ve
					provided to them or that they’ve collected from your use of their services. You consent to our cookies if you
					continue to use our website.</div>
			</div>

			<div class="cookie-consent-banner__actions">
				<a href="#" class="cookie-consent-banner__cta" onclick="createConsentCookie();">
					OK
				</a>

				<a href="https://www.google.com/" class="cookie-consent-banner__cta cookie-consent-banner__cta--secondary">
					Decline
				</a>
			</div>
		</div>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-R245NSN3MZ"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-R245NSN3MZ');
		</script>

		<script is:inline src="/static/js/dist/global.js"></script>
</footer>

</html>
