---
import Blog from "../../../layouts/Blog.astro";
---

<Blog>
  <h1>Fix: '\r': command not found</h1>
  <strong class="pub-time">18/07/2022</strong>

  <h2>Fixes Errors</h2>
  <code>
    '\r': command not found<br />
  </code>

  <h2>Description</h2>
  <p>
    When transfering a shell, or bash script from Windows to MacOS, you will get
    the error: '\r': command not found.<br />
     This is due to the fact that Windows uses '\r\n' to represent a new line
    character, while MacOS and Linux uses '\n'.<br />
  </p>

  <h2>Problem</h2>
  <p>
    <p>
      After running a script from the command line, the script will start with,
      and run, but show an end of line (EOL) error after each line.
    </p>
    <code>
      $ ./script.sh<br />
    </code>
  </p>

  <h2>Solution</h2>
  <p>
    <i>Change the end of line sequence from CRLF to LF</i><br />
    <div>
      <b>Visual Studio Code (vscode)</b>
      <div>
        <p>Ctrl + Shift + P > Change End of Line Sequence > LF</p>
        <picture>
          <source srcset="images/eol.webp" />
          <img
            src="https://live.staticflickr.com/65535/52549325434_ea6ed97941_o_d.png"
            alt="ctrl+shift+p"
          />
        </picture>
        <picture>
          <source srcset="images/eol2.webp" />
          <img
            src="https://live.staticflickr.com/65535/52549325374_405f315f40_o_d.png"
            alt="Change End of Line Sequence"
          />
        </picture>
      </div>
    </div>

    <div>
      <b>Using Terminal (Linux)</b>
      <div>
        <code>$ sed 's/\r$//' inFile.sh > outFile.sh</code>
      </div>
    </div>
  </p>
</Blog>
