---
import Blog from "../../../layouts/Blog.astro";
---

<Blog>
	<h1>How to Test if a User is From Europe Without Checking IP</h1>
	<strong class="pub-time">04/08/2022</strong>

	<div>
		<h2>Description</h2>
		<p>
			These days, knowing if a user is from europe is an important part of web development. This is because european
			countries have a lot of laws and regulations (such as the cookie consent header) that can be intrusive to users
			outside the EU. Since we only have to serve these notifications to users inside the EU, we can use a check to see
			if the user is from europe. This has been traditionally done through the use of IP addresses. However, using IP
			addresses over other methods can prove to be more unreliable, a larger security risk, harder to implement, more
			inaccurate if a user is using a VPN, and harm privacy. Therefore, this article will show you how to test if a user
			is from europe without checking IP.
		</p>
	</div>

	<h2>How to Use</h2>
	<p>Code type: <code>JavaScript/TypeScript</code></p>

	<p>Simply add this line of code to your code, it will set the variable <code>inEu</code> to <code>true</code> if the
		user is in the EU, and <code>false</code> if they are not.</p><br>
	<div class="code-block">
		const inEu = Intl.DateTimeFormat().resolvedOptions().timeZone.startsWith("Europe");
	</div>

    <hr>

	<div>
		<h2>Statement Breakdown</h2><br>
		<code>const inEu</code> makes an immutable variable called inEu which stores the state of whether the client is from
		the EU.<br>
		<code>Intl.DateTimeFormat().resolvedOptions().timeZone.startsWith("Europe")</code> gets the system time and returns
		a boolean value whether or not the user is from the EU<br>
	</div>
</Blog>
