---
import Blog from "../../../layouts/Blog.astro";
---

<Blog>
	<h1>How to Fix 'App not enabled for this user' When Signing in with Google</h1>
	<strong class="pub-time">27/07/2022</strong>

	<h2>Fixes Errors</h2>
	<code>403 app_not_enabled_for_user error<br></code>

	<h2>Description</h2>
	<p>
		When using SSO with Google, sometimes you will meet the error 403 app_not_enabled_for_user error. This is most
		common on mobile devices. You may be able to connect using the Google account on another device, but fail to log in
		on another.
	</p>

	<h2>Problem</h2>
	<p>
	<p>After logging into an external application (Slack, Calendar, etc...) with Google SSO, you will be met with a nasty
		error code</p>
	</p>

	<h2>Solution</h2>
	<p>One of two things is happening. 1) You are trying to log in with a different account, rather than the one which has
		the app enabled or 2) Your system administrator has not allowed you to use the app</p>

	<p>
	<ol>
		<li>The quickest fix for this problem, is to install a separate web browser which you do not currently have
			installed. Sign into the account you want to sign in with on that browser. Switch the default browser to the new
			web browser. Click the "Sign in with Google" button again. This should force your sign in to use the specified
			account. <br> <i>Note: Don't forget to change the web browser back later!</i></li>
		<li>Contact your System administrator to gain access to the app</li>
	</ol>
	</p>

    <hr>

	<h2>For Sysadmin</h2>
	<p>
	<ol>
		<li>Navigate to your <a href="https://admin.google.com/">Google Admin Portal</a></li>
		<li>Navigate to "Users" in the side panel</li>
		<li>Search for your user</li>
		<li>Go to "Apps"</li>
		<li>Make sure the App is enabled for the user under "External Apps"</li>
		<li>If not, you may need to enable the app, or change the users OU or group where the app is enabled</li>
	</ol>
	</p>
</Blog>
