---
import Blog from "../../../layouts/Blog.astro";
---

<Blog>
	<h1>How to Add More swap / zram on Fedora Linux</h1>
	<strong class="pub-time">09/10/2022</strong>

	<div>
		<h2>Description</h2>
		<p>
			zram is the Fedora Linux's compressed equvilant of swap which comes with <a
				href="https://linuxreviews.org/The_Benefits_Of_Having_A_Compressed_zram_Swap_Device_On_Linux">many benefits</a>
			in comparisson to swap on Windows, MacOS, or Ubuntu. However, it can be more difficult to configure as a
			traditional <code>0600 /swapfile</code> is not compatible with zram, as zram uses storage partitions in
			replacement of files.
		</p>
	</div>

	<h2>zram Configuration File</h2>
	<p>
		<i>Fedora Linux Location of zram config file</i><br>
		<code>/etc/systemd/zram-generator.conf</code><br>

		<br>

	<div>
		<h3>Example zram Configuration File with 1.8 times RAM space <i>(Figure 1)</i></h3><br>
		<code>$ cat /etc/systemd/zram-generator.conf</code> <br>
		<div class="code-block">
			[zram0] <br>
			zram-fraction=1.8
		</div>
	</div><br>
	</p>

	<p>
	<div>
		<h3>Modifying zram space using nano</h3><br>
		<code>$ sudo nano /etc/systemd/zram-generator.conf</code>
	</div><br>

	<div>
		<h3>Modifying zram space using vim</h3><br>
		<code>$ sudo vim /etc/systemd/zram-generator.conf</code>
	</div>
	</p>

    <hr>

	<div>
		<h3>Config File Breakdown of <i>Figure 1</i></h3>
		<p><code>[zram0]</code> The zram mounting partition. On Fedora, the default zram name is zram0, therefore, the
			config setup will be partition name surounded in sqaure brackets.</p> <br>
		<p>
			<code>zram-fraction=1.8</code> Specifies the size of the zram partition. By default on Fedora, this is
			<code>1.0</code>. This sets the size of the zram partition to a scalar multiple of the RAM size. <br>
			e.g. If the computer has 8GB of RAM, a <code>zram-fraction=1.5</code> will create a zram partition of size 12GB.
		</p>
	</div>
</Blog>
