<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="description" content="How to Add More swap / zram on Fedora Linux">
	<meta name="keywords" content="linux, fedora, swap, zram">
	<meta name="author" content="Grathium Industries">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>How to Add More swap / zram on Fedora Linux</title>
	<link rel="icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="dist/style.css">
	<link rel="stylesheet" href="/static/css/dist/global.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1219405924277504"
		crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<a href="/" class="button">Home</a>
		<a href="/posts/" class="button">Articles</a>
		<a href="https://github.com/hudson-newey" class="button">GitHub</a>
	</header>

	<h1>How to Add More swap / zram on Fedora Linux</h1>
	<strong class="pub-time">09/10/2022</strong>

	<div>
		<h2>Description</h2>
		<p>
			zram is the Fedora Linux's compressed equvilant of swap which comes with <a
				href="https://linuxreviews.org/The_Benefits_Of_Having_A_Compressed_zram_Swap_Device_On_Linux">many benefits</a>
			in comparisson to swap on Windows, MacOS, or Ubuntu. However, it can be more difficult to configure as a
			traditional <code>0600 /swapfile</code> is not compatible with zram, as zram uses storage partitions in
			replacement of files.
		</p>
	</div>

	<h2>zram Configuration File</h2>
	<p>
		<i>Fedora Linux Location of zram config file</i><br>
		<code>/etc/systemd/zram-generator.conf</code><br>

		<br>

	<div>
		<h3>Example zram Configuration File with 1.8 times RAM space <i>(Figure 1)</i></h3><br>
		<code>$ cat /etc/systemd/zram-generator.conf</code> <br>
		<div class="code-block">
			[zram0] <br>
			zram-fraction=1.8
		</div>
	</div><br>
	</p>

	<p>
	<div>
		<h3>Modifying zram space using nano</h3><br>
		<code>$ sudo nano /etc/systemd/zram-generator.conf</code>
	</div><br>

	<div>
		<h3>Modifying zram space using vim</h3><br>
		<code>$ sudo vim /etc/systemd/zram-generator.conf</code>
	</div>
	</p>

    <hr>

	<div>
		<h3>Config File Breakdown of <i>Figure 1</i></h3>
		<p><code>[zram0]</code> The zram mounting partition. On Fedora, the default zram name is zram0, therefore, the
			config setup will be partition name surounded in sqaure brackets.</p> <br>
		<p>
			<code>zram-fraction=1.8</code> Specifies the size of the zram partition. By default on Fedora, this is
			<code>1.0</code>. This sets the size of the zram partition to a scalar multiple of the RAM size. <br>
			e.g. If the computer has 8GB of RAM, a <code>zram-fraction=1.5</code> will create a zram partition of size 12GB.
		</p>
	</div>

	<div class="socials-container"><br>
    <i>Share via: </i>
    <i href="#" onclick="window.location.href = `http://twitter.com/share?text=Check out this new post from Grathium Industries!&url=${window.location.href}`" class="social-links fa-brands fa fa-twitter-square"></i>
    <i href="#" onclick="window.location.href = `https://www.reddit.com/submit?url=${window.location.href}&title=Check out this new post from Grathium Industries!`" class="social-links fa-brands fa fa-reddit-square"></i>
    <i href="#" onclick="window.location.href = `http://pinterest.com/pin/create/button/?url=${window.location.href}&description=Check out this new post from Grathium Industries!`" class="social-links fa-brands fa fa-pinterest-square"></i>
  </div>
  <hr>

	<div class="disquis-comments">
		<script id="dsq-count-scr" src="//grathium-industries.disqus.com/count.js" async></script>
		<div id="disqus_thread"></div>
		<script>
			var disqus_config = function () {
				this.page.url = "https://grathium-industries.github.io/posts/blog/how-to-add-more-swap-fedora";  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = "fedora_zram"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			(function () { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = 'https://grathium-industries-1.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
				Disqus.</a></noscript>
	</div>

	<div class="content-footer">
		<iframe src="/posts/components/suggestedArticles.html" scrolling="no" frameborder="0"
			onload="this.style.height=(this.contentWindow.document.body.scrollHeight)+'pt';">
		</iframe>
	</div>
</body>

<footer>
	<div id="cookie-consent" class="cookie-consent-banner">
		<div class="cookie-consent-banner__inner">
			<div class="cookie-consent-banner__copy">
				<div class="cookie-consent-banner__header">THIS WEBSITE USES COOKIES</div>
				<div class="cookie-consent-banner__description">We use cookies to personalise content and ads, to provide social
					media features and to analyse our traffic. We also share information about your use of our site with our
					social media, advertising and analytics partners who may combine it with other information that you’ve
					provided to them or that they’ve collected from your use of their services. You consent to our cookies if you
					continue to use our website.</div>
			</div>

			<div class="cookie-consent-banner__actions">
				<a href="#" class="cookie-consent-banner__cta" onclick="createConsentCookie();">
					OK
				</a>

				<a href="https://www.google.com/" class="cookie-consent-banner__cta cookie-consent-banner__cta--secondary">
					Decline
				</a>
			</div>
		</div>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-R245NSN3MZ"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-R245NSN3MZ');
		</script>

		<script src="/static/js/dist/global.js"></script>
</footer>

</html>
