<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="description" content="What is Screen Cast and how to use it">
	<meta name="keywords" content="server, alert">
	<meta name="author" content="Grathium Industries">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Server Alert Docs</title>
	<link rel="icon" href="/static/favicon.ico">
	<link rel="stylesheet" href="dist/style.css">
	<link rel="stylesheet" href="/static/css/dist/global.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1219405924277504"
		crossorigin="anonymous"></script>
</head>

<body>
	<header>
		<a href="/" class="button">Home</a>
		<a href="/posts/" class="button">Articles</a>
		<a href="https://github.com/hudson-newey" class="button">GitHub</a>
	</header>

	<h1>Server Alert Docs</h1>
	<strong class="pub-time">14/11/2022</strong>

    <a href="https://github.com/hudson-newey/cobra">Server Alert Source Code & Download</a>

	<div>
		<h2>Description</h2>
		<p>
			Server alert is a passive network connectivity monitor that validates that a web server is reachable. This basic shell script can be run either through a CRON job, daemon, or through the terminal window. Server alert can be set up in two modes, reporting or logging. Logging simply echos the time, date, server which couldn't be contacted, and the number of times it failed to ping. As server alert runs through Bash by default, this logging output can then be piped or written to a log file / reporting service.
		</p>
	</div><br>

  <div>
    <p>
      Native inbuilt reporting is the most useful tool which Server Alert provides. It allows a HTML email template to be sent the the predetermined point of escalation. Since this notification is sent over SMTP, this email notification is also compatible with Slack alerting, and similar alerting services such as Pager Duty.
    </p>
  </div>

  <hr>

  <div>
    <h2>How to Use - Alert Message / Template</h2>
    <p>
      To use server alert, you will have to edit the script file located under <a href="https://github.com/hudson-newey/Server-Alert">the GitHub Repo</a>. In here you will find three files & variables which you will most likely want to configure. The first file which you will want to edit is the <code>alertTemplate.txt</code> file. This file provides a template for the alert message that will be sent when an ICMP ping to the server has failed <i>x</i> amount of times.
    </p>
  </div>

  <div>
    <h2>Settings the Monitored Server</h2>
    <p>
      Next, you will want to edit the checkUp method located at line _8_ by default. By default, the pinging IP address will be set to <code>192.168.1.12</code>. You will want to change this either to your public IP address (if the server is intended to be accessed from the public internet), or your local area network address (if the server is ONLY intended to be accessed from behind a firewall or from the LAN).
    </p>
  </div>

  <div>
    <h2>Points of Escalation</h2>
    <p>
      To set your point of escalation, change the email address on line _23_ by default (<code>email@domain.com</code>) to your point of escalations email address. This will send the <code>alertTemplate.txt</code> file to the point of escalation when _x_ number of pings have failed consecutively. This _x_ number of failed consecutive pings is defined on line _30_ by default <code>("$failedDataPoints" == 4)</code>, and you can change the number of failed consecutive pings before the point of escalation is contacted. By default this value is set to four failed consecutive pings before the point of escalation is notified, but you may want to raise or lower this threshold depending on your threat model / requirements. e.g. If you wanted to set the point of escalation to be notified after _20_ failed consecutive pings, you would change <code>"$failedDataPoints" == 4</code> to <code>"$failedDataPoints" == 20</code>.
    </p>
  </div>

	<div class="socials-container"><br>
    <i>Share via: </i>
    <i href="#" onclick="window.location.href = `http://twitter.com/share?text=Check out this new post from Grathium Industries!&url=${window.location.href}`" class="social-links fa-brands fa fa-twitter-square"></i>
    <i href="#" onclick="window.location.href = `https://www.reddit.com/submit?url=${window.location.href}&title=Check out this new post from Grathium Industries!`" class="social-links fa-brands fa fa-reddit-square"></i>
    <i href="#" onclick="window.location.href = `http://pinterest.com/pin/create/button/?url=${window.location.href}&description=Check out this new post from Grathium Industries!`" class="social-links fa-brands fa fa-pinterest-square"></i>
  </div>
  <hr>

	<div class="disquis-comments">
		<script id="dsq-count-scr" src="//grathium-industries.disqus.com/count.js" async></script>
		<div id="disqus_thread"></div>
		<script>
			var disqus_config = function () {
				this.page.url = "https://grathium-industries.github.io/posts/blog/server-alert";  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = "server_alert"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			(function () { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = 'https://grathium-industries-1.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
				Disqus.</a></noscript>
	</div>

	<div class="content-footer">
		<iframe src="/posts/components/suggestedArticles.html" scrolling="no" frameborder="0"
			onload="this.style.height=(this.contentWindow.document.body.scrollHeight)+'pt';">
		</iframe>
	</div>
</body>

<footer>
	<div id="cookie-consent" class="cookie-consent-banner">
		<div class="cookie-consent-banner__inner">
			<div class="cookie-consent-banner__copy">
				<div class="cookie-consent-banner__header">THIS WEBSITE USES COOKIES</div>
				<div class="cookie-consent-banner__description">We use cookies to personalise content and ads, to provide social
					media features and to analyse our traffic. We also share information about your use of our site with our
					social media, advertising and analytics partners who may combine it with other information that you’ve
					provided to them or that they’ve collected from your use of their services. You consent to our cookies if you
					continue to use our website.</div>
			</div>

			<div class="cookie-consent-banner__actions">
				<a href="#" class="cookie-consent-banner__cta" onclick="createConsentCookie();">
					OK
				</a>

				<a href="https://www.google.com/" class="cookie-consent-banner__cta cookie-consent-banner__cta--secondary">
					Decline
				</a>
			</div>
		</div>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-R245NSN3MZ"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag() { dataLayer.push(arguments); }
			gtag('js', new Date());

			gtag('config', 'G-R245NSN3MZ');
		</script>

		<script src="/static/js/dist/global.js"></script>
</footer>

</html>
