---
import BlogArticle from "../../../layouts/BlogArticle.astro";

const title = "How to Connect to Device Shell Using SSH";
---

<BlogArticle title={title}>
	<strong class="pub-time">19/07/2022</strong>

	<div>
		<h2>Description</h2>
		<p>
			SSH (secure shell) allows you to remotely connect to a computer or device's terminal / shell session. This is
			typically useful for sysadmins, and provides a way to access a device's filesystem, or to run commands on a device
			without having physical access.
		</p>
	</div>

	<h2>How to Use</h2>
	<p>
		<i>Run SSH From a Linux or MacOS Device and Remotely Connect to Another Device</i><br>
		<code>$ ssh username@hostname</code><br>
		or<br>
		<code>$ ssh hostname -l username</code><br>
		<br>

	<div>
		<strong>e.g.</strong><br>
		<code>$ ssh pi@192.168.0.24</code>
	</div>
	</p>

    <hr>

	<div>
		<h3>CLA Breakdown</h3>
		<p><code>ssh</code> The SSH program installed by default on most Linux, and MacOS distributions</p>
		<p><code>-l</code> Specifies the local account username on the remote machine. SSH will then prompt the for the
			corrosponding password of this account.</p>

		<p class="note">
			Note: The login credentials you will supply in SSH is for logging into an account present on the machine you are
			connecting to. The credentials used on your machine will not work when using SSH to log into another device.
		</p>
	</div>
</BlogArticle>
