---
import { Image } from "astro:assets";
import neonXImage from "../images/neonx.png";
import ntpImage from "../images/new-tab.png";
import goalTrackerImage from "../images/goal-tracker.png";
import Layout from "../layouts/Layout.astro";

import SuggestedArticles from "../components/suggestedArticles/SuggestedArticles.astro";

import "../css/home.css";
import "../css/global.css";
import "bootstrap/dist/css/bootstrap.min.css";
---

<Layout title="home">
    <main>
        <head>
            <link rel="manifest" href="/manifest.webmanifest" />
            <script src="../js/gradient.ts"></script>
        </head>
        <body>
            <div id="gradient" class="demo content">
                <div
                    id="large-header"
                    class="large-header container demo content"
                >
                    <div class="main-title">
                        <h1 id="title">
                            <span class="thin">Grathium</span> [Industries]
                        </h1>
                        <p class="title-description">
                            <a href="https://github.com/hudson-newey">
                                Hudson Newey's
                            </a>
                            Internet showcase.
                        </p>
                    </div>
                </div>
            </div>
            <a href="#content" onclick="scrollToContent();">
                <div
                    class="arrow"
                    onclick="document.getElementsByClassName('websiteScroll')[0]?.scrollIntoView()"
                >
                </div>
            </a>
        </body>

        <div class="websiteScroll">
            <div class="black-background">
                <div class="d-flex flex-row justify-content-start m-5">
                    <div class="p-1">
                        <Image
                            class="preview-image"
                            src={neonXImage}
                            alt="Image of NeonX2.0 desktop"
                            loading="lazy"
                        />
                    </div>
                    <div class="p-1 text-white ms-2">
                        <h2 class="display-5 preview-title">NeonX2.0</h2>
                        <p class="project-description">
                            An entire desktop environment inside an electron
                            app. Complete with support for 3rd part
                            applications, programs and custom file management
                            system.
                        </p>

                        <a
                            class="btn btn-outline-light m-1"
                            href="https://github.com/hudson-newey/NeonX2.0"
                        >
                            GitHub Source Code
                        </a>
                        <a
                            class="btn btn-outline-light m-1"
                            href="https://github.com/hudson-newey/NeonX2.0/blob/master/README.md"
                        >
                            Readme
                        </a>
                        <a
                            class="btn btn-outline-light m-1"
                            href="/posts/deployments/NeonX2.0/login.html"
                        >
                            Online Demo
                        </a>
                    </div>
                </div>

                <div class="row d-flex justify-content-evenly m-5">
                    <div class="col p-2 text-white">
                        <h2 class="project-title">Internet Speed Test</h2>
                        <p class="project-description">
                            A basic speed test with detailed analytics written
                            in pure HTML, TypeScript & SCSS.
                        </p>

                        <a
                            class="link-light m-1"
                            href="https://github.com/Grathium-Industries/Internet-Speed-Test"
                        >
                            GitHub Source Code
                        </a>
                        <a
                            class="link-light m-1"
                            href="https://github.com/Grathium-Industries/Internet-Speed-Test/blob/main/README.md"
                        >
                            Readme
                        </a>
                        <a
                            class="link-light m-1"
                            href="/posts/deployments/Internet-Speed-Test/index.html"
                        >
                            Online Demo
                        </a>
                    </div>

                    <div class="col p-2 text-white">
                        <h2 class="project-title">Bundler</h2>
                        <p class="project-description">
                            A bundler framework to easily run, distribute, and
                            standardize any project.
                        </p>

                        <a
                            class="link-light m-1"
                            href="https://github.com/hudson-newey/Bundler"
                        >
                            GitHub Source Code
                        </a>
                        <a
                            class="link-light m-1"
                            href="https://github.com/hudson-newey/Bundler/blob/main/README.md"
                        >
                            Readme
                        </a>
                    </div>

                    <div class="col p-2 text-white">
                        <h2 class="project-title">Bluff Ball (IT Crowd)</h2>
                        <p class="project-description">
                            From Season 3 Ep 02 of The IT Crowd (Are We Not Men)
                            I've created the Bluff Ball website off of "The IT
                            Crowd".
                        </p>

                        <a
                            class="link-light m-1"
                            href="https://github.com/hudson-newey/Bluff-Ball"
                            >GitHub Source Code</a
                        >
                        <a
                            class="link-light m-1"
                            href="https://github.com/hudson-newey/Bluff-Ball/blob/master/README.md"
                            >Readme</a
                        >
                        <a
                            class="link-light m-1"
                            href="/posts/deployments/bluff-ball/index.html"
                            >Online Demo</a
                        >
                    </div>
                </div>

                <hr />

                <div class="d-flex flex-row justify-content-start m-5">
                    <div class="p-1">
                        <Image
                            class="preview-image"
                            src={ntpImage}
                            alt="Image of a new tab page"
                            loading="lazy"
                        />
                    </div>
                    <div class="p-1 text-white ms-2">
                        <h2 class="display-5 preview-title">New Tab Page</h2>
                        <p class="project-description">
                            Modern new tab pages provided by web browser
                            defaults either push political agendas, are used as
                            announcement boards, or monetized through
                            advertisements. This is why we have created the
                            Grathium Industries New Tab Page that promises never
                            to fall into any pit falls seen by web browser
                            defaults.
                        </p>

                        <a
                            class="btn btn-outline-light m-1"
                            href="https://github.com/hudson-newey/Webbrowser-Newtab#ntp-source"
                        >
                            GitHub Source Code
                        </a>
                        <a
                            class="btn btn-outline-light m-1"
                            href="https://github.com/hudson-newey/Webbrowser-Newtab/blob/main/README.md#ntp-readme"
                        >
                            Readme
                        </a>
                        <a
                            class="btn btn-outline-light m-1"
                            href="/posts/deployments/newtab/index.html?ref=home#ntp-demo"
                        >
                            Online Demo
                        </a>
                    </div>
                </div>

                <hr />

                <div class="d-flex flex-row justify-content-start m-5">
                    <div class="p-1">
                        <Image
                            class="preview-image"
                            src={goalTrackerImage}
                            alt="Github repository of 2UNU"
                            loading="lazy"
                        />
                    </div>
                    <div class="p-1 text-white ms-2">
                        <h2 class="display-5 preview-title">Goal Tracker</h2>
                        <p class="project-description">
                            A goal tracking app that I made because existing
                            options didn't do exactly what I wanted. The
                            application supports assigning tasks to broader
                            goals, daily habits with metric tracking, and
                            numerical habit tasks.
                        </p>

                        <p>
                            In this project I try out CRDT (conflict-free
                            replicated data types) syncing.
                        </p>

                        <a
                            class="btn btn-outline-light m-1"
                            href="https://github.com/hudson-newey/goal-tracker"
                        >
                            GitHub Source Code
                        </a>
                        <a
                            class="btn btn-outline-light m-1"
                            href="https://github.com/hudson-newey/goal-tracker/blob/main/README.md"
                        >
                            Readme
                        </a>
                        <a
                            class="btn btn-outline-light m-1"
                            href="/posts/deployments/goal-tracker"
                        >
                            Online Demo
                        </a>
                    </div>
                </div>

                <hr />

                <div class="container">
                    <SuggestedArticles />
                </div>

                <hr />

                <div class="text-white">
                    <div
                        class="container d-flex flex-wrap justify-content-evenly"
                    >
                        <div class="p-3">
                            <a
                                href="https://github.com/Grathium-Industries#GitHub"
                                class="text-white text-decoration-none"
                            >
                                <h5>GitHub</h5>
                            </a>
                        </div>

                        <div class="p-3">
                            <a
                                href="https://gist.github.com/hudson-newey"
                                class="text-white text-decoration-none"
                            >
                                <h5>Github Gists</h5>
                            </a>
                        </div>

                        <div class="p-3">
                            <a
                                href="https://addons.mozilla.org/en-US/firefox/user/16387846/#Mozilla"
                                class="text-white text-decoration-none"
                            >
                                <h5>Mozilla Addons</h5>
                            </a>
                        </div>

                        <div class="p-3">
                            <a
                                href="https://www.linkedin.com/in/hudson-newey-b98251237/"
                                class="text-white text-decoration-none"
                            >
                                <h5>LinkedIn</h5>
                            </a>
                        </div>

                        <div class="p-3">
                            <a
                                href="./posts/"
                                class="text-white text-decoration-none"
                            >
                                <h5>Website Index</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</Layout>
