---
import Blog from "../layouts/Blog.astro";

const title = "Technical Index";
---

<style>
    a {
        display: block;
    }
</style>

<Blog title={title}>
	<h1>Grathium Industries - {title}</h1>

    <hr>

	<div>
		<h2>Online Deployment Environments</h2>
		<a href="/posts/deployments/Internet-Speed-Test/?ref=index">Internet Speed Test</a>
		<a href="/posts/deployments/bluff-ball/?ref=index">Bluff Ball (It Crowd)</a>
		<a href="/posts/deployments/newtab/">New Tab Page</a>
		<a href="/posts/deployments/goal-tracker/">Goal Tracker</a>
	</div>

	<div>
		<h2>Articles</h2>
		<div>
			<a href="blog/google-login">How to Fix 'App not enabled for this user' When Signing in with Google</a>
			<a href="blog/dns-over-https">1.1.1.1 DNS over HTTPS with PiHole</a>

			<!--19/07/2022-->
			<a href="blog/install-brave">How to Install Brave Browser without the Play Store</a>

			<!--18/07/2022-->
			<a href="blog/install-r">How to install R-Studio on Ubuntu 22</a>

			<!--09/10/2022-->
			<a href="blog/how-to-add-more-swap-fedora">How to Create More Swap / zram on Fedora Linux</a>

			<a href="blog/bing-search">Search Engine Keeps Reverting to Bing and not Using Browser set Search Engine</a>

			<!--10/11/2022-->
			<a href="blog/screen-cast">What is Screen Cast and how to use it</a>
			<a href="blog/server-alert">Server Alert Docs</a>

            <a href="blog/2unu">2UNU Online Documentation</a>
		</div>
	</div>

	<div>
		<h2>Customizations</h2>
		<a href="https://addons.mozilla.org/en-US/firefox/user/16387846/">Mozilla Firefox Addons / Themes</a>
	</div>

	<div>
		<h2>Platforms</h2>
		<a href="https://github.com/Grathium-Industries">GitHub</a><br>
	</div>
</Blog>
