---
import SocialsContainer from "./SocialsContainer.astro";
import SuggestedArticles from "./SuggestedArticles.astro";
import CookieConsent from "./CookieConsent.astro";
---

<div>
  <SocialsContainer />

  <hr />

  <SuggestedArticles />

  <CookieConsent />
</div>
