---
import DisquisComments from "./DisquisComments.astro";
import SocialsContainer from "./SocialsContainer.astro";
import SuggestedArticles from "./SuggestedArticles.astro";
---

<div>
  <SocialsContainer />

  <DisquisComments />

  <hr />

  <SuggestedArticles />
</div>
