<footer>
  <div class="cookie-consent-banner">
    <div class="cookie-consent-banner__inner">
      <div class="cookie-consent-banner__copy">
        <div class="cookie-consent-banner__header">
          THIS WEBSITE USES COOKIES
        </div>
        <div class="cookie-consent-banner__description">
          We use cookies to personalise content and ads, to provide social media
          features and to analyse our traffic. We also share information about
          your use of our site with our social media, advertising and analytics
          partners who may combine it with other information that you've
          provided to them or that they've collected from your use of their
          services. You consent to our cookies if you continue to use our
          website.
        </div>
      </div>

      <div class="cookie-consent-banner__actions">
        <a
          href="#"
          class="cookie-consent-banner__cta"
          onclick="createConsentCookie()"
        >
          OK
        </a>

        <a
          href="https://www.google.com/"
          class="cookie-consent-banner__cta cookie-consent-banner__cta--secondary"
        >
          Decline
        </a>
      </div>
    </div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-R245NSN3MZ"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-R245NSN3MZ");
    </script>
  </div>
</footer>

<script>
function removeCookieConsentBanner() {
    let banners = document.getElementsByClassName('cookie-consent-banner');

    if (!banners) return;

    for (let i = 0; i < banners.length; i++) {
        banners[i].style.display = 'none';
    }
}

function createConsentCookie() {
    // get the current date in the format "day month (in text) year"
    let date = new Date();

    let day = date.getDate();
    let month = date.getMonth();
    let year = date.getFullYear() + 1;
    let monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    let dateString = day + " " + monthNames[month] + " " + year;
    // create the cookie
    document.cookie = "consent=1; expires=" + dateString + "; path=/";

    removeCookieConsentBanner();
}

function checkConsentCookie() {
    // get the cookie
    let consentCookie = document.cookie;
    // check if the cookie exists
    if (consentCookie.indexOf("consent=1") > -1) {
        removeCookieConsentBanner();
    }
}

const inEu = Intl.DateTimeFormat().resolvedOptions().timeZone.startsWith("Europe");

if (inEu) {
    checkConsentCookie();
} else {
    removeCookieConsentBanner();
}
</script>
