@import url("./theming.css");

body {
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.blog-head {
  margin-bottom: 1rem;

  .blog-title {
    position: relative;
    margin-bottom: 0;

    font-size: 36px;
  }

  .blog-published-date {
    color: var(--text-color-light);
  }
}

.blog-container {
    display: flex;
    justify-content: center;
}

article {
  font-size: 18px;
  line-height: 1.72857143;
  padding: 50px;
  border-radius: 2.5em;
  width: 80%;
  max-width: 1200px;
}

a {
    text-decoration: underline;

    &:hover {
        color: var(--text-color-light);
        text-decoration: underline;
    }
}

h2 {
  position: relative;
  padding-top: 20px;
  margin: 0;
  font-size: 22px;
}

h3 {
  padding: 0px;
  margin: 0px;
}

h1,h2,h3,h4,h5,h6 {
  letter-spacing: 0.2px;
}

p {
  display: block;
  max-width: 80%;

  margin: 0;
  padding-bottom: 1rem;
  letter-spacing: 0.1px;
}

img .picture {
  position: relative;
  max-width: 100%;
  height: auto;
}

pre {
  padding: 1.5em;
  border-radius: 0.5rem;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  background-color: #efefef;
}

td {
  position: relative;
  padding: 5px;
  width: 10%;
}

table {
  position: relative;
  background-color: #fff;
  width: 100%;
}

.note {
  position: relative;
  font-style: italic;
  font-size: 1em;
  background-color: #ffffed;
  padding: 1em;
}

@media only screen and (max-width: 600px) {
  .blog-container {
    padding-left: 1rem;
  }

  article {
    /*
      I push the content down by quite a lot for 2 reasons
        - I want the heading to be at the users eye-line when they first load
          the page.
        - It encourages an interaction which is good for retention.
    */
    padding-top: 6.25rem;
    width: 100%;
  }
}

.socials-container {
  position: relative;
  color: var(--text-color-light);
}

.social-links {
  cursor: pointer;
  color: var(--text-color-light);
}
