@import url("https://fonts.googleapis.com/css2?family=Syne:wght@700;800&display=swap");

:root {
	--background-color: #1a1a1a;
	--secondary-color: #fafafa;
	--text-color: #f9f1e9;
	--shadow-color: #999;
}

html {
    background-color: var(--background-color);
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
}

* {
    left: 0px;
}

.large-header {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.demo .large-header {
    position: initial;
    z-index: -1;
    top: 0px;
}

.content {
    position: relative;
    height: 100% !important;
    width: 100%;
}

.main-title {
    position: absolute;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    text-align: center;
    top: 35%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);

    .title-description {
        font-size: 1.5em;

        a {
            font-size: inherit;
            color: white;
            text-decoration: none;
        }
    }
}

#title {
    text-transform: uppercase;
    font-size: 7em;
    letter-spacing: 0.1em;
    font-family: "Syne", sans-serif;
}

.main-title .thin {
    font-weight: 200;
}

@media screen and (max-width: 1100px) {
    h1 {
        font-size: 0.3em !important;
    }

    a {
        font-size: 1.5em !important;
    }

    .main-title {
        #title {
            font-size: 10vw !important;
        }

        p {
            font-size: 2.5vw !important;
        }
    }
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
}

div.arrow::before {
    content: "";
    width: 100%;
    height: 100%;
    border-width: 0.8vmin 0.8vmin 0 0;
    border-style: solid;
    border-color: var(--secondary-color);
    transition: 0.2s ease;
    display: block;
    transform-origin: 100% 0;
}

div.arrow:after {
    content: "";
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 0.8vmin 0 0;
    border-style: solid;
    border-color: var(--secondary-color);
    transform-origin: 100% 0;
    transition: 0.2s ease;
}

div.arrow:hover::after, div.arrow:hover::before {
    transform: scale(1.2);
}

#gradient {
    position: fixed;
    width: 100%;
    height: 800px;
    top: 0px;
}

.websiteScroll {
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: var(--background-color);
    color: var(--secondary-color);
    margin: 0;
    padding: 0;
}

iframe {
    position: relative;
    width: 100%;
    height: 100%;
    border-style: none;
    margin: 0px;
    padding: 0;
    z-index: 0;
    overflow: auto;
}

div.arrow {
    width: 6vmin;
    height: 6vmin;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: rotate(135deg);
}

a:hover {
    text-decoration: underline;
}
