---
import BlogFooter from "../components/BlogFooter.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Grathium Industries" />
    <meta name="viewport" content="width = device-width" />
    <meta name="theme-color" content="#000000" />
    <meta name="author" content="Grathium Industries" />
    <link rel="icon" href="/static/favicon.ico" />
    <link rel="stylesheet" href="dist/style.css" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
	<link rel="stylesheet" href="/static/css/dist/global.css">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
      integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
      crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <script
      async
      src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1219405924277504"
      crossorigin="anonymous"></script>
    <meta name="generator" content={Astro.generator} />
    <title>Grathium Industries</title>
  </head>

  <body>
    <slot />

    <BlogFooter></BlogFooter>
  </body>
</html>
