---
import CookieConsent from "../components/CookieConsent.astro"

import "bootstrap/dist/css/bootstrap.min.css";
import "../css/global.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Grathium Industries" />
    <meta name="viewport" content="width = device-width" />
    <meta name="theme-color" content="#000000" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Grathium Industries</title>
  </head>

  <body>
    <slot />

    <CookieConsent />
  </body>
</html>
