.component-container {
    /* I suspect I'm going to regret adding positioning to this container */
    margin: 3rem;
}

.article-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.component-title {
    font-weight: 300;
    letter-spacing: 0.1rem;
    font-size: 2.75rem;
    text-align: center;

    margin-bottom: 1.5rem;
}

.article {
    max-width: 350px;

    .article-title {
        font-size: 1.3rem;
    }

    .article-published-time {
        margin-top: 0.5rem;
        font-size: 1.1rem;
    }

    .article-link {
        text-decoration: none;
    }
}
